::view-transition-old(root) {
    animation: exit 0s ease 0s 0.3 normal forwards;
}

::view-transition-new(root) {
    animation: enter 1s ease 0s 1 normal forwards;
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: rotateX(100deg);
        transform-origin: bottom;
    }
    100% {
        opacity: 1;
        transform: rotateX(0);
        transform-origin: bottom;
    }
}

@keyframes exit {
    from {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-250px);
    }
}
