<body>
    <nav>
        <ul>
            <li>
                <img src="/assets/img/lambo.jpg" alt="" aspect-ratio="1280:853">
                <!-- <a href="#">Menu 1</a> -->
            </li>

            <li>
                <img src="/assets/img/lambo.jpg" alt="" aspect-ratio="1280:853">
                <!-- <a href="#">Menu 2</a> -->
            </li>
            <li>
                <img src="/assets/img/lambo.jpg" alt="" aspect-ratio="1280:853">
                <!-- <a href="#">Menu 3</a> -->
            </li>
        </ul>
    </nav>

</body>
