.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(75px, auto) 1fr minmax(40px, auto);
    width: 100vw;
    height: 100vh;
}

.header {}

.body {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    align-content: start;
    margin-bottom: 25px;
}

.footer {}

router-outlet {}

@media (width<500px) {
    .body {
        grid-template-columns: 5% 1fr 5%;
    }
}
