<div class="grid-content">
    <app-navbar></app-navbar>

    <div class="content">
        <h1 class="pacifico-regular title">Topics</h1>
        <div class="main-menu" [style]="style">

            @for (topic of topicsMenu; track $index) {
            <lib-rounded-button [routerLink]="topic.route" [text]="topic.name" class="pacifico-regular" [background]="'#8338ec'">

            </lib-rounded-button>

            }

        </div>
        <div class="router">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-footer></app-footer>
</div>
