<h2>Html (HyperText Markup Language)</h2>
<p> <span style="color:red">X </span>Presentation <span>-> Css</span></p>
<p> <span style="color:red">X </span>Interaction <span>-> Javascript</span></p>
<p><span style="green">✅</span>Describe the content</p>
<hr>
<h2>
    Basic Html Structure
</h2>
<ul>
    <li>Unorder List</li>
    <li>Titles</li>
    <li>Subtitle</li>
</ul>
<img src="/assets/img/lambo.jpg" alt="A beatiful car" title="toyota car" style="width: 100%; aspect-ratio:1280/853">
<p>The tags no describe how look the content, the tags works are for describe the content </p>
<h2>Tags importantes para el head:</h2>
<p>This tags are created by meta for specify like is visualized the url when is shared by a social network.</p>
<meta property="og:title" content="Portfolio Software Engineer">
<meta property="og:description" content="Portfolio of Crisfon6, 4+ years of experience like Software Egineer">
<meta prperty="og:image" content="/assets/img/lambo">
<meta property="og:image:alt" content="A photo of Crisfon6">

<p> This tags are specify the alternative to the page. Is used for translations</p>

<meta rel="alternate" href="https://crisfon6.dev/en" hreflang="es-GB">
<p>Specify the main page </p>
<link rel="canonical" href="https://crisfon6.dev" />

<p>Specify the main file</p>
<meta name="robots" content="index, follow">
<p>specify the theme-color of the browser</p>
<meta name="theme-color" content="#09f">

<link rel="icon" href="/assets/img/lambo.jpg">
<p>Las imagenes tienen atributo llamado loading="lazy" que ayuda que la carga de esa imagen sea de manera perezosa</p>
