<body>
    <nav>
        <ul>
            <li><a href="#">Menu 1</a></li>
            <!-- <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li> -->
            <!-- <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 2</a></li> -->
            <li><a href="#">Menu 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vitae est doloribus, vero hic quaerat quod eos id obcaecati. Soluta.</a></li>
            <li><a href="#">Menu 3</a></li>
        </ul>
    </nav>

</body>
