<app-card [cardInfo]="topic.card"></app-card>

<article class="content">


  <h2 class="title">Exercises</h2>
  <div class="menu">

    @for (exercise of topic.exercises; track $index) {
    <lib-rounded-button (click)="openExercise(exercise)" [text]="exercise.name" class="pacifico-regular"
      [background]="'#8338ec'" [icon]="exercise.icon!" >

    </lib-rounded-button>

    }

  </div>
  @if (showIde) {
  <app-ide [topic]="topicName" [exerciseNumber]="exerciseNumberSelected"></app-ide>

  }

</article>
