<app-card [cardInfo]="cardInfo"></app-card>

<article class="content">


    <h2 class="title">Exercises</h2>
    <div class="menu">

        @for (section of sections; track $index) {
        <lib-rounded-button [routerLink]="section.route" [text]="section.name" class="pacifico-regular" [background]="'#8338ec'" [icon]="section.icon!">

        </lib-rounded-button>

        }

    </div>

    <div class="content-exercise">
        <router-outlet></router-outlet>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.2/purify.min.js"></script>
</article>
