.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 1fr 100px;
    min-height: 100vh; //esto es para que ocupe toda la pantalla
    grid-template-areas: "header header sidebar" "content content content" "footer footer footer";
}

@media (width > 400px) {
    .container {
        grid-template-areas: "header header ." "sidebar content content" "footer footer footer";
    }
}

.container header {
    background: #09f;
    // grid-column: 1/-1;
    grid-area: header;
}

.container aside {
    background: yellow;
    grid-area: sidebar;
}

.container main {
    background: red;
    // grid-column: 2/-1;
    grid-area: content;
}

.container footer {
    background: gray;
    // grid-column: 1/-1;
    grid-area: footer;
}