/* You can add global styles to this file, and also import other style files */

@import './assets/scss';
body {
    background-color: var(--pri1);
}

.title {
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
    color: var(--pri6);
}

.menu {
    display: grid;
    gap: 16px;
    font-size: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 3rem;
    padding-bottom: 25px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: var(--pri6);
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;

}
@media (width<500px) {
    .menu {
        grid-template-columns: repeat(2, 1fr);
    }
}
