<div class="body">
    <div class="header">
        <nav>
            <ul>
                <li>About me</li>
                <li>My projects</li>
                <li>Contact</li>
            </ul>
        </nav>
    </div>
    <main>
        <section>
            <article>
                <h2>About me:</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo fugiat magnam natus, doloremque aliquid delectus aut mollitia eaque vitae repellat enim quia maxime harum corporis obcaecati minima culpa voluptatibus commodi.</p>
            </article>
            <article>
                <h2>My Projects</h2>
                <div class="boxes">
                    <div class="box box-orange"></div>
                    <div class="box box-blue"></div>
                    <div class="box box-yellow"></div>
                </div>
                <div>
                    <ul>
                        <li class="li-1">My content 1</li>
                        <li class="li-2">My content 2</li>
                        <li class="li-3">My content 3</li>
                        <li class="li-4">My content 4</li>
                    </ul>
                </div>
            </article>
            <article>
                <h2>Contact</h2>
                <input type="text" class="error" /><br/>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta modi animi, eum minus officiis minima repellendus a aspernatur incidunt ullam fugiat perferendis unde, inventore porro amet est assumenda, quod maiores. Nam obcaecati iste
                    sequi ipsa ducimus voluptatibus perferendis commodi mollitia quae deleniti? Sed, molestias beatae ut tenetur, iste delectus magnam illum nobis quia nemo minima debitis labore architecto eveniet sequi. Perferendis eos similique dolores
                    porro vitae consequatur inventore quo consectetur eligendi! Qui eos quis illum ullam voluptate ad veritatis earum, similique doloribus sapiente harum in unde aliquam modi libero at. Ipsam nobis ad, cupiditate repudiandae repellendus,
                    assumenda esse dolores possimus aut magni, voluptatibus laboriosam nam nesciunt atque iste sit consequatur sunt porro. Molestiae enim est praesentium quos optio mollitia similique? Nulla voluptas id possimus non quod autem saepe consectetur
                    dolores recusandae distinctio sint, aliquid culpa impedit iusto asperiores labore quibusdam veniam est ullam. Ipsam ut, cumque <a href="https://google.com" target="_blank">facilis quasi placeat qui?</a> Voluptates dolorem beatae id,
                    repellat quos magni suscipit, deleniti libero labore accusamus at reiciendis aliquam adipisci architecto atque quisquam voluptate, porro quo iste commodi fugit. Distinctio sequi libero culpa reiciendis. Eaque vitae corporis, quia unde
                    corrupti ducimus ab numquam fugiat ratione nam placeat. Illum laudantium expedita eaque consequatur ad corrupti consectetur magni maxime. <a href="https://google.com" target="_blank">Totam, repudiandae! Op</a>Totam, repudiandae! Optio
                    facilis harum voluptatibus maxime. Sed dolorem neque nisi odio tempora dolor sunt aspernatur veritatis. Sit debitis dolor ullam itaque, quia porro voluptatibus, distinctio veniam quidem nihil ipsam pariatur, corporis voluptatum obcaecati
                    quas temporibus omnis.</p>
            </article>
        </section>
    </main>
    <footer>
        <p>disruptivecrisfon6&#64;gmail.com</p>
    </footer>
</div>