<body>
    <div class="contenedor-general">
        <nav>
            <ul>
                <li><a href="">Menu 1</a></li>
                <li><a href="">Menu 2</a></li>
                <li><a href="">Menu 3</a></li>
            </ul>
        </nav>
        <div class="contenedor-central">
            <aside>
                <h2>Menu lateral</h2>
            </aside>
            <main>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, at possimus! Hic quia earum ea unde expedita mollitia facilis, quidem quisquam quam nobis aliquam a quo! Voluptatum nobis totam quidem aliquam impedit harum dolorem delectus,
                    ducimus autem dolore maiores itaque veniam omnis ut, inventore corrupti quasi. Ut aperiam corporis nesciunt!</p>

                <section class="contenedor-columnas">
                    <article>
                        <h2>Titulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores error quos aperiam incidunt eveniet veniam nobis. Perferendis doloribus harum eveniet!</p>
                    </article>
                    <article>
                        <h2>Titulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores error quos aperiam incidunt eveniet veniam nobis. Perferendis doloribus harum eveniet!</p>
                    </article>
                    <article>
                        <h2>Titulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores error quos aperiam incidunt eveniet veniam nobis. Perferendis doloribus harum eveniet!</p>
                    </article>
                    <article>
                        <h2>Titulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores error quos aperiam incidunt eveniet veniam nobis. Perferendis doloribus harum eveniet!</p>
                    </article>
                </section>
                <section class="contenedor-columnas-grid">
                    <article>
                        <h2>Titulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores error quos aperiam incidunt eveniet veniam nobis. Perferendis doloribus harum eveniet!</p>
                    </article>
                    <article>
                        <h2>Titulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores error quos aperiam incidunt eveniet veniam nobis. Perferendis doloribus harum eveniet!</p>
                    </article>
                    <article>
                        <h2>Titulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores error quos aperiam incidunt eveniet veniam nobis. Perferendis doloribus harum eveniet!</p>
                    </article>
                    <article>
                        <h2>Titulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores error quos aperiam incidunt eveniet veniam nobis. Perferendis doloribus harum eveniet!</p>
                    </article>
                </section>

            </main>
        </div>
        <footer>
            <h2>Pie de página</h2>
        </footer>
    </div>
</body>
