body {
    background-color: black;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit
}

ul {
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 5rem;
}

li {
    background-color: chocolate;
    color: white;
    border: dashed black;
    padding: .3rem .7rem;
}

//justify-content : acomoda los elementos en el eje principal.
//align-items : acomoda los elementos en el eje cruzado(el secundario)
// align-content: acomoda el espacio residual entra la filas de elementos creados con el wrap
//la palabra safe ayuda a no ocultar informacion de nuestro html cuando acomodemos elementos
ul {
    display: flex;
    align-items: flex-start;
}

li:nth-child(2) {
    align-self: flex-end;
}

//     //order: 0;
//     //  flex-grow: 1;
//     flex-shrink: 1;
// }
// li:nth-child(1) {
//     //order: 1;
//     //  flex-grow: 2;
// }
