<!-- the section have display :block by default-->
<div class="container">
    <div class="container-code-html">
        <h1>HTML Code</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, voluptas itaque fuga dicta, minus molestiae suscipit ullam tenetur eum eius atque incidunt soluta officiis culpa illo saepe maiores laboriosam recusandae?</p>
    </div>
    <div class="container-code-css">
        <h1>HTML CSS</h1>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, voluptas itaque fuga dicta, minus molestiae suscipit ullam tenetur eum eius atque incidunt soluta officiis culpa illo saepe maiores laboriosam recusandae?</p>
    </div>
    <section class="container-result">
        <div>1dasdasdashgrunraoeide</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
    </section>
</div>
